<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertOnDuplicateKey" value="true" />
        <option name="javaMapperPackage" value="com.luo.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.luo.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="springboot1000" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="springboot1000">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.luo.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.luo.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.luo.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.luo.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusIdType" value="AUTO" />
        <option name="mybatisPlusStaticField" value="false" />
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="mybatis_plus:user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="springboot1000" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>